<header>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/credits">Credits</a>
        <a href="/auth/login">Login</a>
        <a href="/auth/register">Register</a>
    </nav>
    <p>{{#if user}}Logged in as: <strong>{{user.username}}</strong>{{/if}}</p>
</header>
<hr>
