<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> header }}
        
    <main class="main-page">
        <div>
            <h2>About this Project</h2>
            <p>The Pet Management System is a simple Node.js, Express, and Handlebars application created for learning and demonstration purposes. It provides a way to register users, log in, and manage pets in a structured and organized environment.</p>
        </div>
        <img src="/img/bordercolie.png" class="main-page-image" id="dog-image">
    </main>

    {{> footer }}
</body>
</html>
