<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credits</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> header }}

    <main class="main-page">
        <div>
            <h2>Credits & Acknowledgments</h2>
            <p>This project was developed as part of a study in full-stack web development. Special thanks to the Node.js and Express documentation, Handlebars resources, and the open-source community that made this project possible.</p>
        </div>
        <img src="/img/bordercolie.png" class="main-page-image" id="dog-image">
    </main>

    {{> footer }}
</body>
</html>
