<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> header}}

    <main class="main-page">
        <div>
            <h2>Welcome to the Pet Management System</h2>
            <p>This is the main page.</p>
            <p>Use the navigation links above to explore the site.</p>
        </div>
        <img src="/img/shepherd.png" alt="A cute shepherd dog" class="main-page-image" id="dog-image">
    </main>
    
    {{> footer}}
</body>
</html>